@media screen and (max-width: 720px){
.project-container{
    overflow: hidden;
    width: 98%;
    height: 200vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    margin-top: 180vh;
}
.section-container{
    position: relative;
    width: 97%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    
}
.image-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    object-fit: cover;
    right: 0%;
}
.pdf-project-img{
    width: 100%;
    height: 40vh;
    object-fit: contain;
}
.project-img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
}
.box-braids-project-img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
}
.links{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 8vh;
}
.projects-github-logo{
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*card with text and links///////////////////////////////// */
.cta-box-braids {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
    border: none;
    background: none;
    height: 5vh;
    cursor: pointer;
}
.cta-box-braids:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #fd17a5;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.cta-box-braids span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
.cta-box-braids svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta-box-braids:hover:before {
    width: 100%;
    background: #b910f1;
}
.cta-box-braids:hover svg {
    transform: translateX(0);
}
.cta-box-braids:active {
    transform: scale(0.95);
}
/*  PDF ************************************************ */
.pdf-cta {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
    border: none;
    background: none;
    height: 5vh;
    cursor: pointer;
}
.pdf-cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #fc6d0d;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.pdf-cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
.pdf-cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.pdf-cta:hover:before {
    width: 100%;
    background: #d72323;
}
.pdf-cta:hover svg {
    transform: translateX(0);
}
.pdf-cta:active {
    transform: scale(0.95);
}
/* Clima**************** */
.card-project {
    width: 50%;
    height: 40vh;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .4s;
    border: 2px solid #c3c6ce;
    top: 0%;
}
.info-project{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-project h1{
    left: 15%;
    margin: 0;
    font-size: 1.2em;
}
.info-project p{
    font-size: 1em;
}

.card-project::before {
    content: 'HTML, CSS, JavaScript and React';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
}
.card-project div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    z-index: 10;
    transition: all .4s;
    background-color: #fff;
    border: 2px solid #c3c6ce;
}
.card-project:hover div {
    transform: translateY(-30px);
}

.cta {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
    border: none;
    background: none;
    height: 5vh;
    cursor: pointer;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #c8e3fc;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
    
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #684dff;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}
}